@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Ibarra+Real+Nova:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Ibarra+Real+Nova:ital@0;1&family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Edu+SA+Beginner&family=Ibarra+Real+Nova:ital@0;1&family=Josefin+Sans:wght@300&display=swap");
/* Variables SASS */
/*Backgrounds */
/*Colores */
/*Fonts*/
/*Selector universal*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box; }

/*Fin menu navegable */
/*Main index */
/*banner principal */
.fondo-parallax-index {
  background: linear-gradient(rgba(0, 0, 0, 0.325), rgba(0, 0, 0, 0.496)), url("../assets/fondito-parallax.avif") no-repeat center top;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  position: relative; }

.contenido-parallax-index {
  animation: fadeInDown;
  animation-duration: 4s;
  color: #fff;
  font-family: 'Josefin Sans';
  font-size: 2rem;
  font-weight: bold;
  left: 10%;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 80%; }

/*seccion de patologias index */
.articlePatologias {
  padding: 5px;
  margin: 20px;
  text-align: center; }

.article-patologias-title {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Ibarra Real Nova', serif;
  word-spacing: -1px; }

.article-patologias-subtitle {
  font-size: 20px;
  letter-spacing: 2px;
  margin: 30px; }

/*menu navegable hacia patologias desde index */
.article-patologias-menu {
  animation: bounce;
  animation-duration: 6s;
  animation-delay: 3s; }

/* fin menu navegable hacia patologias desde index */
/* seccion videos educativos sobre patologias index */
.info-iframe {
  color: black; }

/* fin seccion videos educativos sobre patologias index */
/*Fin main index */
/*Footer general */
#footer {
  margin-top: 5%;
  padding: 20px;
  background: url(../assets/pruebaNuevoFooter.jpg);
  background-position: center;
  background-size: cover;
  color: white; }

#datos-doc {
  font-family: monospace;
  text-align: center; }

#datos-doc p {
  margin-bottom: 0; }

.redesSociales {
  cursor: pointer;
  text-align: center;
  font-size: 24px; }

/*Fin Footer general */
/*seccion prevencion CON GRID */
.fondo-parallax-prevencion {
  background: linear-gradient(rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.496)), url("../assets/parallax-prevencion.jpg") no-repeat center top;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  position: relative; }

.contenido-parallax-prevencion {
  animation: fadeInDown;
  animation-duration: 4s;
  color: #fff;
  font-family: 'Josefin Sans';
  font-size: 2rem;
  font-weight: bold;
  left: 10%;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 80%; }

.padreTarjetasPrevencion {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, fr);
  row-gap: 20px;
  justify-items: center; }

/*Fin seccion prevencion */
/*Seccion patologias con grid */
#body-patologias {
  background: linear-gradient(-45deg, #2C396F, #2980B9, #23a6d5, #85C1E9);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

#titulo-patologias {
  color: white;
  margin: 30px 0px;
  padding: 15px;
  text-align: center;
  font-size: 35px;
  font-family: 'Ibarra Real Nova', serif;
  animation: backOutDown;
  animation-duration: 5s;
  animation-delay: 1s; }

.padreTarjetasPatologias {
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-rows: repeat(3, fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 25px;
  justify-items: center;
  align-items: center; }

.card {
  margin-top: 10%;
  text-align: center; }

/*Fin seccion patologias */
/*seccion contacto */
#contenedor-banner-contacto {
  display: flex;
  justify-content: center;
  animation: bounceInDown;
  animation-duration: 3s; }

#contenedor-form {
  background: url(../assets/pruebaFondoIframes.jpg);
  background-size: cover;
  padding-top: 2%;
  padding-bottom: 3%;
  color: #fff; }

#formularioContacto {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 5px; }
  #formularioContacto input {
    margin: 1%;
    width: 50%;
    height: 30px;
    font-weight: bolder;
    text-align: center;
    border-radius: 20px;
    border-color: #2C396F; }
  #formularioContacto textarea {
    margin: 1%;
    width: 50%;
    font-weight: bolder;
    text-align: center;
    border-radius: 20px;
    border-color: #2C396F; }
  #formularioContacto #boton-contacto {
    height: 40px;
    width: 250px;
    left: 95px;
    border: 0;
    border-radius: 20px;
    bottom: -20px;
    background: #9ED8EB;
    color: #2C396F;
    font-weight: bolder;
    font-size: 1.1rem;
    outline: none;
    margin: 0px 15px; }

/*Fin seccion contacto */
/* seccion sobre mi */
.fondo-parallax-sobre_mi {
  background: linear-gradient(rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.496)), url("../assets/parallax-sobre_mi.jpg") no-repeat center top;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  position: relative; }

.contenido-parallax-sobre_mi {
  animation: fadeInDown;
  animation-duration: 4s;
  color: #fff;
  font-family: 'Josefin Sans';
  font-size: 2rem;
  font-weight: bold;
  left: 10%;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 80%; }

.grid-sobre_mi {
  margin-top: 5%;
  display: grid;
  grid-template-rows: 1, 1fr;
  grid-template-columns: repeat(2, 1fr); }

.carousel-item {
  margin-top: 5%; }

/*Fin seccion sobre mi */
/*css para mobile */
@media only screen and (max-width: 576px) {
  /*INDEX*/
  .nav {
    display: block; }
  .fondo-parallax-index {
    background-size: none;
    background-position: none; }
  /*menu navegable de patologias INDEX*/
  .article-patologias-menu {
    font-size: 15px;
    margin-left: 30px;
    justify-content: center;
    font-weight: bolder; }
  #lista_menu_patologias {
    flex-wrap: wrap; }
  /* carrousel */
  .d-block {
    height: 100%;
    width: 100%; }
  /*seccion videos educativos*/
  .videos_educativos_patologias {
    grid-template-columns: revert;
    row-gap: 2%;
    padding-bottom: 20px; }
  /* footer */
  #footer {
    padding: 0px;
    text-align: center; }
  #datos-doc {
    padding-top: 3%;
    font-size: 12px;
    margin: 0px; }
  /* FIN DEL INDEX*/
  /*PREVENCION*/
  .fondo-parallax-prevencion {
    background: linear-gradient(rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.496)), url("../assets/parallax-prevencion-mobile.png") no-repeat center top;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .titulo-parrallax-prevencion {
    font-size: 16px;
    text-align: center; }
  .subtitulo-parrallax-prevencion {
    font-size: 10px; }
  .padreTarjetasPrevencion {
    grid-template-columns: revert;
    row-gap: 30px;
    justify-content: center;
    text-align: center; }
  /* FIN PREVENCION*/
  /*PATOLOGIAS*/
  .padreTarjetasPatologias {
    grid-template-columns: revert;
    justify-content: center; }
  .title-patologias {
    margin-left: 65px; }
  /* FIN PATOLOGIAS*/
  /* CONTACTO */
  #imgContacto {
    margin: 0px;
    width: 100%; }
  #contenedor-form {
    padding-top: 10%;
    padding-bottom: 20%; }
  .input {
    letter-spacing: 1px; }
  textarea.input {
    width: 65%; }
  #boton-contacto {
    width: 150px;
    margin-top: 2%; }
  /*FIN CONTACTO */
  /* SOBRE MI */
  .grid-sobre_mi {
    grid: none; }
  .card-body {
    overflow: scroll;
    font-size: x-small; }
  .cardAboutMe {
    width: 85%;
    margin: auto; }
  /* FIN SOBRE MI */ }
